<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <header>
      <div class="firstheader">
        <p>
          Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
        </p>
        <p><strong>ShopNow</strong></p>
      </div>

      <div class="">
        <nav>
          <p><a href="/">EasyReach</a></p>

          <ul class="nav_menu">
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>

          <div class="nfg">
            <input
              class="sinput"
              type="text"
              placeholder="What are you looking for"
            />
            <a href=""> <i class="fa color1 fa-heart"></i></a>
            <a href=""
              ><i class="fa color1 fa-shopping-cart" aria-hidden="true"></i
            ></a>

            <div class="profile-button">
              <a href=""
                ><i class="fa color1 fa-user" aria-hidden="true"></i
              ></a>

              <div class="account-opt">
                <div class="opt">
                  <a href=""
                    ><i class="fa color1 fa-user" aria-hidden="true"></i>Manage
                    My account</a
                  >
                </div>

                <div class="opt">
                  <a href=""
                    ><i class="fa color1 fa-user" aria-hidden="true"></i>My
                    Order</a
                  >
                </div>

                <div class="opt">
                  <a href=""
                    ><i class="fa color1 fa-user" aria-hidden="true"></i>My
                    Cancellations</a
                  >
                </div>

                <div class="opt">
                  <a href=""
                    ><i class="fa color1 fa-user" aria-hidden="true"></i>My
                    Reviews</a
                  >
                </div>

                <div class="opt">
                  <a href=""
                    ><i class="fa color1 fa-user" aria-hidden="true"></i
                    >Logout</a
                  >
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
