<%- include("includes/header") %>

<main>
  <div class="container">
    <div class="hero-section">
      <div>
        <ul>
          <li><a href="">Woman’s Fashion</a></li>
          <li><a href="">Men’s Fashion</a></li>
          <li><a href="">Electronics</a></li>
          <li><a href="">Home & Lifestyle</a></li>
          <li><a href="">Medicine</a></li>
          <li><a href="">Sports & Outdoor</a></li>
          <li><a href="">Baby’s & Toys</a></li>
          <li><a href="">Groceries & Pets</a></li>
          <li><a href="">Health & Beauty</a></li>
        </ul>
      </div>

      <div class="feature-img">
        <div class="freeoo">
          <div class="feat1">
            <figure class="applelogo">
              <img src="/1200px-Apple_gray_logo 1.png" alt="" />
            </figure>

            <p>iPhone 14 Series</p>
          </div>

          <h2>Up to 10% off Voucher</h2>

          <p><a href="">Shop Now</a></p>
        </div>

        <div>
          <figure class="iphoneimg">
            <img src="/hero_endframe__cvklg0xk3w6e_large 2.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <div class="ctg">
      <p>Today’s</p>
      <h3>Flash Sales</h3>
    </div>

    <div>
      <button class="button1">View all products</button>
    </div>
  </section>

  <section class="container">
    <div class="prd-list">
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/g92-2-500x500 1prod.png" alt="" />
        </div>

        <div class="prd-details">
          <p>HAVIT HV-G92 Gamepad</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/ak-900-01-500x500 1prod.png" alt="" />
        </div>

        <div class="prd-details">
          <p>AK-900 Wired Keyboard</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/g27cq4-500x500 1prod.png" alt="" />
        </div>
        <div class="prd-details">
          <p>IPS LCD Gaming Monitor</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/ss.png" alt="" />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="ctg">
      <p>This Month</p>
      <h3>Browse by Categories</h3>
    </div>
  </section>

  <section class="container">
    <div class="categories-container">
      <button class="button2 catt">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <p>Phones</p>
      </button>

      <button class="button2 catt catt">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <p>Computer</p>
      </button>

      <button class="button2 catt">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p>Wrist watch</p>
      </button>

      <button class="button2 catt">
        <i class="fa fa-camera" aria-hidden="true"></i>
        <p>Camera</p>
      </button>

      <button class="button3">
        <i class="fa fa-headphones" aria-hidden="true"></i>
        <p>Headphones</p>
      </button>

      <button class="button2 catt">
        <i class="fa fa-gamepad" aria-hidden="true"></i>
        <p>Gamepad</p>
      </button>

      <button class="button2 catt">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <p>Phones</p>
      </button>
    </div>
  </section>

  <section class="container">
    <div class="ctg">
      <p>This Month</p>
      <h3>Best Selling Products</h3>
    </div>

    <div>
      <button class="button1">View all products</button>
    </div>
  </section>

  <section class="container">
    <div class="prd-list">
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/672462_ZAH9D_5626_002_100_0000_Light-The-North-Face-x-Gucci-coat 1prod.png"
            alt=""
          />
        </div>

        <div class="prd-details">
          <p>HAVIT HV-G92 Gamepad</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/547953_9C2ST_8746_001_082_0000_Light-Gucci-Savoy-medium-duffle-bag 1prod.png"
            alt=""
          />
        </div>

        <div class="prd-details">
          <p>AK-900 Wired Keyboard</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/gammaxx-l240-argb-1-500x500 1prod.png"
            alt=""
          />
        </div>
        <div class="prd-details">
          <p>IPS LCD Gaming Monitor</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png"
            alt=""
          />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="feature-img">
      <div>
        <p class="color1">Categories</p>

        <h2 class="mg-tp">Enhance Your Music play Experience</h2>

        <button class="button1">Buy Now</button>
      </div>

      <div>
        <figure class="iphoneimg">
          <img src="/JBL_BOOMBOX_2_HERO_020_x1 (1) 1prod.png" alt="" />
        </figure>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="ctg">
      <p>Our Products</p>
      <h3>Explore Our Products</h3>
    </div>

    <div>
      <button class="button1">View all products</button>
    </div>
  </section>

  <section class="container">
    <div class="prd-list">
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/71RdoeXxtrL 1prddddd.png" alt="" />
        </div>

        <div class="prd-details">
          <p>HAVIT HV-G92 Gamepad</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/eos-250d-03-500x500 1prddddd.png" alt="" />
        </div>

        <div class="prd-details">
          <p>AK-900 Wired Keyboard</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/ideapad-gaming-3i-01-500x500 1prddddd.png"
            alt=""
          />
        </div>
        <div class="prd-details">
          <p>IPS LCD Gaming Monitor</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/curology-j7pKVQrTUsM-unsplash 1prddddd.png"
            alt=""
          />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>

      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/New-Mercedes-Benz-Gtr-Licensed-Ride-on-Car-Kids-Electric-Toy-Car 1prddddd.png"
            alt=""
          />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>

      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/Copa_Sense 1prddddd.png" alt="" />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>

      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img class="prd-img" src="/GP11_PRD3 1prddddd.png" alt="" />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>

      <div class="product">
        <div class="discout-tag">
          <p>-40%</p>
        </div>

        <div class="ty">
          <img
            class="prd-img"
            src="/698717_Z8A1X_3475_001_100_0000_Light-Reversible-quilted-satin-jacket 1prddddd.png"
            alt=""
          />
        </div>

        <div class="prd-details">
          <p>S-Series Comfort Chair</p>
          <div class="pricing">
            <p class="color1">$120</p>
            <p>$160</p>
          </div>

          <div class="actions">
            <div>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>

            <div>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tocart">
          <button class="button4 mg-tp">Add to cart</button>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="ctg">
      <p>Featured</p>
      <h3>New Arrivals</h3>
    </div>
  </section>

  <section class="container">
    <div class="ft-section">
      <div class="ft-prd">
        <img
          class="sp"
          src="/ps5-slim-goedkope-playstation_large 1prod.png"
          alt=""
        />

        <div class="ft-det">
          <h4>PlayStation 5</h4>
          <p>Black and White version of the PS5 coming out on sale.</p>
          <a href="">Shop Now</a>
        </div>
      </div>

      <div class="ft-prd">
        <img
          class="sp"
          src="/attractive-woman-wearing-hat-posing-black-background 1prod.png"
          alt=""
        />

        <div class="ft-det">
          <h4>PlayStation 5</h4>
          <p>Black and White version of the PS5 coming out on sale.</p>
          <a href="">Shop Now</a>
        </div>
      </div>

      <div class="ft-prd">
        <img
          class="sp"
          src="/69-694768_amazon-echo-png-clipart-transparent-amazon-echo-png 1prod.png"
          alt=""
        />

        <div class="ft-det">
          <h4>PlayStation 5</h4>
          <p>Black and White version of the PS5 coming out on sale.</p>
          <a href="">Shop Now</a>
        </div>
      </div>

      <div class="ft-prd">
        <img
          class="sp"
          src="/652e82cd70aa6522dd785109a455904cprod.png"
          alt=""
        />

        <div class="ft-det">
          <h4>PlayStation 5</h4>
          <p>Black and White version of the PS5 coming out on sale.</p>
          <a href="">Shop Now</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="last">
      <div class="extt">
        <img class="iddd" src="/icon-deliveryic.png" alt="" />

        <div>
          <h3>FREE AND FAST DELIVERY</h3>
          <p>Free delivery for all orders over $140</p>
        </div>
      </div>

      <div class="extt">
        <img class="iddd" src="/Icon-Customer serviceic.png" alt="" />

        <div>
          <h3>24/7 CUSTOMER SERVICE</h3>
          <p>Friendly 24/7 customer support</p>
        </div>
      </div>

      <div class="extt">
        <img class="iddd" src="/Icon-secureic.png" alt="" />

        <div>
          <h3>MONEY BACK GUARANTEE</h3>
          <p>We reurn money within 30 days</p>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("includes/footer") %>
