<%- include("includes/header") %> 

    <main>


        <section class="log_in">
            <div class="login_img">

                <figure>
                    <img src="/Group 1000005941img.png" alt="">
                </figure>
            </div>


            <div>

                <form class="login-form" action="#" method="POST">
                    <h3>Log in to Exclusive</h3>
                    <p class="margin-bottom">Enter your details below</p>

                    <div class="form-fields">
                        <input type="text" placeholder="Enter Username">
                        <input type="password" placeholder="Enter Password">
                    </div>

                    <div class="btn-sect">
                        <button class="button1">Log In</button>
                        <p class="color1">Forget password?</p>
                    </div>
                    
                </form>

            </div>
        </section>

    </main>

   <%- include("includes/footer") %>