<%- include("includes/header") %>
<section class="container">
  <div>
    <h3>Wishlist (4)</h3>
  </div>
</section>

<section class="container">
  <div class="prd-list">
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/g92-2-500x500 1prod.png" alt="" />
      </div>

      <div class="prd-details">
        <p>HAVIT HV-G92 Gamepad</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/ak-900-01-500x500 1prod.png" alt="" />
      </div>

      <div class="prd-details">
        <p>AK-900 Wired Keyboard</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/g27cq4-500x500 1prod.png" alt="" />
      </div>
      <div class="prd-details">
        <p>IPS LCD Gaming Monitor</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/ss.png" alt="" />
      </div>

      <div class="prd-details">
        <p>S-Series Comfort Chair</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div>
    <h3>Related Products</h3>
  </div>
</section>

<section class="container">
  <div class="prd-list">
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/g92-2-500x500 1prod.png" alt="" />
      </div>

      <div class="prd-details">
        <p>HAVIT HV-G92 Gamepad</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/ak-900-01-500x500 1prod.png" alt="" />
      </div>

      <div class="prd-details">
        <p>AK-900 Wired Keyboard</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/g27cq4-500x500 1prod.png" alt="" />
      </div>
      <div class="prd-details">
        <p>IPS LCD Gaming Monitor</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
    <div class="product">
      <div class="discout-tag">
        <p>-40%</p>
      </div>

      <div class="ty">
        <img class="prd-img" src="/ss.png" alt="" />
      </div>

      <div class="prd-details">
        <p>S-Series Comfort Chair</p>
        <div class="pricing">
          <p class="color1">$120</p>
          <p>$160</p>
        </div>

        <div class="actions">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>

          <div>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="tocart">
        <button class="button4 mg-tp">Add to cart</button>
      </div>
    </div>
  </div>
</section>

<%- include("includes/footer") %>
